<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="editor"> 
        <form action="/editor" method="POST" >
        <textarea name="input" cols="60" rows="20" placeholder="Enter text here...."></textarea>
        <textarea class="output" cols="60" rows="20" placeholder="converted text here....">{{OutPut}}</textarea>
        <button type="submit" class="SubmitButton"> Submit </button>
        </form>
    </div>

    
</body>
</html>