<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <h1>Kaomoji editor</h1>
        <a href="/">
        <img src="/img/happy.png" alt=""></a>
        <div></div>
        <nav>
        <a href="/">editor</a>
        <a href="/dictionary">dictionary</a>
        <a href="/stats">stats</a>
        </nav>

    </header>

    {{{body}}}

    <p>Link to Icon used is below</p>
    <a href="https://www.flaticon.com/free-icon/happy_569501?term=emoji&page=1&position=8&origin=search&related_id=569501" title="emoji icons">Emoji icons created by Smartline - Flaticon</a>

    
</body>
</html>
